#container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container-form {
    background-color: white;
    width: 20rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
#mensagem-certo {
    display: flex;
    justify-content: center;
}
#mensagem-certo p{
    color: green;
}
label {
    font-size: 18px;
}
input {
    width: 95%;
    border: 3px solid black;
    padding: 7px;
}
#criarconta-div-input {
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;
}
#botao {
    width: 100%;
    background-color: rgb(76, 119, 198);
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
a {
    text-decoration: none;
}
#botao-div {
    display: flex;
    justify-content: center;
}
#titulo-div-input {
    display: flex;
    justify-content: center;
}